# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\get8test\get8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
